body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f5fcf6;
    color: #333;
}

header {
    background-color: #042326;
    color: #f5fcf6;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

.contenedor {
    max-width: 900px;
    margin: 20px auto;
    background: #f5fcf6;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px #000;
}

section {
    margin-bottom: 20px;
}

section h2 {
    color: #042326;
    border-bottom: 2px solid #042326;
    padding-bottom: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

.job-title {
    font-weight: bold;
    color: #555;
}

.educacion, .proyectos {
    background-color: #f5fcf6;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}


header img {
    width: 100px;
    border-radius: 20px;
}
header p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.educacion p {
    margin: 0;
}

section li {
    font-size: 13px;
}

.contenedor p {
    font-size: 13px;
}

.proyectos p {
    margin: 0;
}

.boton-regreso {
    text-decoration: none;
    color: #f5fcf6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 20%;
    height: 40px;
    background-color: #042326;
    border-radius: 10px;
}
